@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.google.com/specimen/Poppins?query=poppins");


body{
    background-color: #1f1f38;
    background-image: url('./assets/bg-texture.png');
    overflow-x: hidden;
}
.pos{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#4db5ff,transparent)
}
.posX{
    left: 50%;
    transform: translateX(-50%);
}

.flexRow{
    @apply flex items-center gap-4
}
.flexCol{
    @apply flex flex-col
}
.paddingSec{
    @apply pt-[6rem]
}
.btn{
    @apply px-4 py-2  rounded-[8px] border-colorPrimary 
}

